url: "https://best0127.github.io"
theme: "minimal-mistakes-jekyll"
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache
title: "我的个人主页"
description: "个人避坑指南"
